<%= form_for(blog, :url => (blog.new_record? ? blogs_url : blog_path(blog.title_for_slug)), :html => { :multipart => true }) do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.cktext_area :content, class: "form-control ckeditor" %>
  </div>

  <div class="form-group">
    <%= f.label :meta_description %>
    <%= f.text_field :meta_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :meta_keywords %>
    <%= f.text_field :meta_keywords, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.fields_for :images, @blog.images.build do |t| %>
      <%= t.label :pic, "Main Image" %> <br>

      <% if @blog.images.exists? %>
        <%= image_tag @blog.images[-1].pic.url(:medium), id: 'current_image', class: 'mb15' %><br/>
      <% else %>
        <img id="current_image" class="mb5" src="#" alt="">
      <% end %>
      
      <% if current_page?('/news/new') %>
        <%= t.file_field :pic, style: "padding: 4px;", required: true %>  
      <% else %>
        <%= t.file_field :pic, style: "padding: 4px;" %>
      <% end %>
      <%#= In order to make multiple file uploads you'd have to do it like you did in oldpalm, add multiple true, and loop through params[:pic] in your controller and create images that way %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :pubdate %><br>
    <%= f.date_field :pubdate, value: Date.today, class:'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.submit class: "form-control btn btn-custom-primary" %>
  </div>
<% end %>


