<% provide(:title, 'Catering Industry News | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="Stay up to date with the latest news from around the Caribbean and Latin American catering industry with GCG Catering.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="bg-light-grey">

  <div class="container">
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary btnNewBlog btn-custom-secondary" if current_user.try(:admin?)%>

    <% @blogs.each do |blog| %>
    <div class="row">
      
      <div class="col-sm-4 mb15">
        <%= link_to blog_path(blog.title_for_slug) do %> 
          <%= image_tag(blog.images[-1].pic.url(:medium), class:'img-responsive imgbig') if blog.images.present?%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <h4><%= link_to blog.title, blog_path(blog.title_for_slug) %></h4>
        <p class="small" style="margin-top: -10px; margin-bottom: 10px;"><%= blog.pubdate.strftime("%B %d, %Y") %></p>
        <p><%= HTML_Truncator.truncate(blog.content_index, 150).html_safe %></p>
        <div class="mt30 pull-right">
          <%= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-default btn-custom-primary" %>
          <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-default btn-custom-primary" if current_user.try(:admin?)%>
          <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-default btn-custom-primary", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
        </div>
      </div>
      <div class="separator"></div>
    </div>
  <% end %>

  </div>
  
</section>