<% provide(:title, 'Full-Service Catering in the Caribbean and Latin America | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering serves our clients with 60 years of experience and more than 3,000 team members spread across 24 locations in the Caribbean & Latin America.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-about" title="About GCG Caribbean and Latin America catering"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb30">About GCG Catering</h3>
        <p class="mt60">GCG Catering is a leading full-service HACCP compliant catering company with 24 locations across the Caribbean and Latin America. Our team is made up of 3,000 highly-trained employees, who adhere to the highest standards in the industry. We produce 23 million meals per year, servicing more than 75 of the world’s leading airlines and an extensive portfolio of 140 industrial clients. Our team has a longstanding history of meeting and exceeded expectations, while remaining at the leading edge of innovation.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'industries/other_industries' %>

<!-- Locations  -->
<%= render 'industries/industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>