<% provide(:title, 'Inflight, Industrial, and Restaurant Catering | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering is available for a wide range of industries and needs. We provide inflight catering and concessions, industrial, restaurant & retail catering.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>


<!-- Hero  -->
<section class="slide">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
        <div class="hero-home" title="Catered Caribbean and Latin America events by GCG" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-home03.jpg');"></div>
			</div>
			<div class="item">
				<div class="hero-home" title="Caribbean and Latin America catering by GCG" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-home01.jpg');"></div>
			</div>
			<div class="item">
        <div class="hero-home"  title="Corporate event catering in the Caribbean by GCG" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-home02.jpg');"></div>
			</div>
		</div>
	</div>
</section>


<!-- Industries  -->
<section class="bg-light-grey">
	<div class="container">
		<div class="row text-center">
			<h1 class="title-first mb60">Industries We Serve</h1>

			
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/inflight-catering">
							<img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-inflight-catering.jpg" alt="Inflight Catering by GCG" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text green">
						<a href="/inflight-catering">
							<div class="icon">
								<img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/inflight.png" alt="Inflight Catering by GCG">
							</div>
						</a>
						<h4 class="mt15 mb10"><a class="secondary" href="/inflight-catering">Inflight Catering</a></h4>
						<p>Food has always played an important role in providing...</p>
						<a href="/inflight-catering" class="btn btn-custom-secondary-border transition pl20 pr20 mt15">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/industrial-catering">
							<img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-industrial.jpg" alt="Industrial Catering by GCG" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<a href="/industrial-catering">
							<div class="icon">
								<img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industrial.png" alt="Industrial Catering by GCG">
							</div>
						</a>
						<h4 class="mt15 mb10"><a href="/industrial-catering">Industrial Catering</a></h4>
						<p>When it comes to feeding your team, you need a caterer...</p>
						<a href="/industrial-catering" class="btn btn-custom-primary-border transition pl20 pr20 mt15">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/concessions">
							<img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-concessions.jpg" alt="Concessions Catering by GCG" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text green">
						<a href="/concessions">
							<div class="icon">
								<img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/consesions.png" alt="Concessions Catering by GCG">
							</div>
						</a>	
						<h4 class="mt15 mb10"><a class="secondary" href="/concessions">Concessions</a></h4>
						<p>Traveling can be stressful for passengers, but when...</p>
						<a href="/concessions" class="btn btn-custom-secondary-border transition pl20 pr20 mt15">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/restaurants">
							<img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-restaurants.jpg" alt="Restaurant catering by GCG Catering" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<a href="/restaurants">
							<div class="icon">
								<img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/restaurants.png" alt="Restaurant catering by GCG Catering">
							</div>
						</a>
						<h4 class="mt15 mb10"><a href="/restaurants">Restaurants</a></h4>
						<p>When traveling by air, one is likely to spend a great deal...</p>
						<a href="/restaurants" class="btn btn-custom-primary-border transition pl20 pr20 mt15">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/retail">
							<img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-retail-catering.jpg" alt="Retail event catering by GCG Catering" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text green">
						<a href="/retail">
							<div class="icon">
								<img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/retail.png" alt="Retail event catering by GCG Catering">
							</div>
						</a>
						<h4 class="mt15 mb10"><a class="secondary" href="/retail">Retail Solutions</a></h4>
						<p>Building a menu to suit the needs of a large group can...</p>
						<a href="/retail" class="btn btn-custom-secondary-border transition pl20 pr20 mt15 ">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/oil-gas-mining">
							<img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-mining.jpg" alt="Oil,Gas & Mining catering by GCG Catering" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<a href="/oil-gas-mining">
							<div class="icon">
								<img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/oil.png" alt="Oil,Gas & Mining catering by GCG Catering">
							</div>
						</a>
						<h4 class="mt15 mb10"><a href="/oil-gas-mining">Oil, Gas & Mining</a></h4>
						<p>In order to maintain a quality workforce, employers in...</p>
						<a href="/oil-gas-mining" class="btn btn-custom-primary-border transition pl20 pr20 mt15">Read more</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Location  -->
<section class="bg-light-primary">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mb60 title-white text-center">Our Locations</h3>
				<div class="maps" id="myid" data-mylocations="<%= @locations.to_json %>">

        <div id="map" style="height:450px;"></div>
      
      </div>


				</div>
			</div>
		</div>
	</div>
</section>

<!-- latest news  -->

<section class="news bg-light-grey">
  <div class="container">
    <div class="row">
      <h4 class="mb30 title-first text-center">Latest News</h4>
      <% @blogs.each do |blog| %>
        <div class="col-sm-4 col-xs-12 mt60 mb30 pull-left">
            <a href="<%= blog_path(blog.title_for_slug) %>"><div class="img-blog"  style="background-image: url(<%= blog.images[-1].pic.url(:large) %>);"></div></a>
          <h5><%= link_to blog.title, blog_path(blog.title_for_slug) %></h5>
          <p><%= HTML_Truncator.truncate(blog.content_index, 15).html_safe %></p>
          <%= link_to 'Read More >', blog_path(blog.title_for_slug), class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

