<% provide(:title, 'Career Opportunities | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="Enlisting the best employees is the only way we can ensure client expectations are met and exceeded. Apply to join the GCG Catering team today.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-join"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="mb30">Join Our Team</h3>
				<p class="mt60 mb60">Enlisting the best employees is the only way we can ensure client expectations are met and exceeded. We’ve assembled a talented team across our many locations, and we’re always looking for passionate individuals to join it. <br/><br/>We offer a wide variety of opportunities for individuals at all levels of experience to grow within the industry. Complete the form below to learn more about our open positions.</p>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<div class="message">

					<%= form_for :applicant, :html => { :id => "new_applicant", class: "join"}, :url => {:controller => "applicants", :action => "create"} do |f| %>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :full_name, class: "sr-only" %>
					      <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name*", required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :email, class: "sr-only" %>
					      <%= f.email_field :email, class: "form-control", placeholder: "Email*", required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :phone_number, class: "sr-only" %>
					      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone*", required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :location, class: "sr-only" %>
					      <%= f.select :location_id, Location.order(name: :asc).all.map {|u| [u.name, u.id]}, {prompt: "Select Career Location"}, required: true, class: "form-control" %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :resume, "Resume (pdf only)" %>
					      <%= f.file_field :resume, required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.submit "Submit", class: "btn btn-default btn-xl btn-custom-primary" %>
					    </div>
					  </div>
				  <% end %>

				</div>
			</div>
		</div>
	</div>
</section>
