<!-- Locations  -->
<section class="bg-light-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h5 class="title-white mb60 text-center">Our Locations</h5>
        <div id="myid" class="maps" data-mylocations="<%= @locations.to_json %>">

          <div id="map" class="map-content"></div>
        </div>
      </div>
    </div>
  </div>
</section>