<!-- Industries  -->
<section class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mb30 title-second text-center">Our Services</h1>
        <div class="owl-carousel owl-theme">
          
          

          <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/inflight-catering">
                    <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-inflight-catering.jpg" alt="Inflight Catering by GCG" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/inflight-catering">
                    <div class="icon">
                      <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/inflight.png" alt="Inflight Catering by GCG">
                    </div>
                  </a>
                  <h4 class="mt15 mb10"><a class="secondary" href="/inflight-catering">Inflight Catering</a></h4>
                  <p>Food has always played an important role in providing...</p>
                  <a href="/inflight-catering" class="btn btn-custom-secondary-border transition pl20 pr20 mt15">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/industrial-catering">
                    <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-industrial.jpg" alt="Industrial Catering by GCG" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text">
                  <a href="/industrial-catering">
                    <div class="icon">
                      <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industrial.png" alt="Industrial Catering by GCG">
                    </div>
                  </a>
                  <h4 class="mt15 mb10"><a href="/industrial-catering">Industrial Catering</a></h4>
                  <p>When it comes to feeding your team, you need a caterer...</p>
                  <a href="/industrial-catering" class="btn btn-custom-primary-border transition pl20 pr20 mt15">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/concessions">
                    <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-concessions.jpg" alt="Concessions Catering by GCG" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/concessions">
                    <div class="icon">
                      <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/consesions.png" alt="Concessions Catering by GCG">
                    </div>
                  </a>
                  <h4 class="mt15 mb10"><a class="secondary" href="/concessions">Concessions</a></h4>
                  <p>Traveling can be stressful for passengers, but when...</p>
                  <a href="/concessions" class="btn btn-custom-secondary-border transition pl20 pr20 mt15">Read more</a>
                </div>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/restaurants">
                    <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-restaurants.jpg" alt="Restaurant catering by GCG Catering" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text">
                  <a href="/restaurants">
                    <div class="icon">
                      <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/restaurants.png" alt="Restaurant catering by GCG Catering">
                    </div>
                  </a>
                  <h4 class="mt15 mb10"><a href="/restaurants">Restaurants</a></h4>
                  <p>When traveling by air, one is likely to spend a great deal...</p>
                  <a href="/restaurants" class="btn btn-custom-primary-border transition pl20 pr20 mt15">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/retail">
                    <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-retail-catering.jpg" alt="Retail event catering by GCG Catering" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/retail">
                    <div class="icon">
                      <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/retail.png" alt="Retail event catering by GCG Catering">
                    </div>
                  </a>
                  <h4 class="mt15 mb10"><a class="secondary" href="/retail">Retail Solutions</a></h4>
                  <p>Building a menu to suit the needs of a large group can...</p>
                  <a href="/retail" class="btn btn-custom-secondary-border transition pl20 pr20 mt15 ">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/oil-gas-mining">
                    <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/industries-mining.jpg" alt="Oil,Gas & Mining catering by GCG Catering" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text">
                  <a href="/oil-gas-mining">
                    <div class="icon">
                      <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/oil.png" alt="Oil,Gas & Mining catering by GCG Catering">
                    </div>
                  </a>
                  <h4 class="mt15 mb10"><a href="/oil-gas-mining">Oil, Gas & Mining</a></h4>
                  <p>In order to maintain a quality workforce, employers in...</p>
                  <a href="/oil-gas-mining" class="btn btn-custom-primary-border transition pl20 pr20 mt15">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>