<% provide(:title, 'Airport Concessions | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering stocks all airport locations with high-quality concessions, from quick meals to filling snacks. We pair exceptional food & customer service.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-commercial-airline-catering"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Commercial Airline Catering</h1>
        <p>Food has always played an important role in providing commercial airline passengers with a pleasurable experience. Offering great food and excellent service has proven to be an incredibly effective method for creating return customers. In order to do that, your airline must enlist a caterer with extensive experience in this unique industry. GCG Catering has been servicing commercial airline clients for decades, and our team has earned its position as a leader in this arena.<br/><br/>At GCG Catering, we understand that our dishes set the tones for your passengers’ experience, and we do not take that responsibility lightly. Our experience in the industry gives us invaluable insight into the needs of your passengers and crew. Whether cooking up full meals for first-class or providing tasty snacks to be served throughout economy, every passenger will leave your aircraft more than satisfied.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>