<% provide(:title, 'Airport Concessions | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering stocks all airport locations with high-quality concessions, from quick meals to filling snacks. We pair exceptional food & customer service.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-concessions"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Concessions</h1>
        <p>Traveling can be stressful for passengers, but when provided the right fare with a smile, it can be a positive experience. We are dedicated to stocking each of our locations with high-quality offerings, from quick meals to filling snacks. We are skilled in identifying traveler needs, and even more so at fulfilling them.<br/><br/>Airport concessions are utilized by a vast and diverse range of individuals every single day. As such, selecting the products to be offered in any given location can present a challenge. Our experience in this area gives our team incomparable knowledge on what these customers desire. This knowledge, coupled with exceptional customer service, boosts revenue and facilities a positive view of the airport for every individual passing through.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>