<% provide(:title, 'Industrial Event Catering | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering offers highly trained employees & custom menu options for your industrial team. Full-service catering from daily lunches to special events.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-industrial"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Industrial Catering</h1>
        <p>When it comes to feeding your team, you need a caterer you can trust to do the job right and deliver value. That’s where our highly-trained team comes in, offering customized meal options that are delivered or served on time and with excellence. We understand that the needs of every business are unique, and are dedicated to understanding yours and ensuring they are met. <br/><br/>Our catering team will work with you to craft a menu that satisfies every employee, while treating their tastebuds in the process. Quality is a staple in every menu we create, and your company’s budget is always kept in mind. From daily lunches at your facility to speciality events, our full-service caterers are here to help you create a favorable culinary experience, every time. This translates to a happier, healthier and more productive workforce — all traits which are priceless when it comes to your bottom line.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>