<% provide(:title, 'Airline Inflight Catering | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering is a top provider for private and corporate airline catering. Team members undergo extensive training bred from over 60 years of experience.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-inflight"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Inflight Catering</h1>
          <div class="col-sm-6 text-center">
            <a href="/commercial-airline-catering">
              <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/square-commercial-airline-catering.jpg" class="img-responsive text-center inflight_catering_2" /><br>
              <h3 class="inflight_catering_2" >Commercial Airline Catering</h3>
            </a>
          </div>
          <div class="col-sm-6 text-center">
            <a href="/private-inflight-catering">
              <img src="https://s3-us-west-2.amazonaws.com/gcg-catering/industries/square-private-inflight-catering.jpg" class="img-responsive text-center inflight_catering_2" />
              <br>
              <h3 class="inflight_catering_2">Private Inflight Catering</h3>
            </a>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>