<% provide(:title, 'Oil, Gas, and Mining Team Catering | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="Those who work in the oil, gas & mining industry can work up quite the appetite. GCG Catering offers onsite catering that meets all safety requirements.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-oil"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Oil, Gas & Mining</h1>
        <p>In order to maintain a quality workforce, employers in the oil, gas and mining industry must make sure the needs of their employees are met when out on the rig. This means feeding them, and feeding them well. Having a caterer on site is an excellent way to make sure your team is getting the fuel it needs to complete the work at hand. Plus, better food leads to greater satisfaction, which leads to more productive employees, which in turn yields higher profits for your business.<br/><br/>It’s no secret that those who work in the oil, gas and mining industry can work up quite the appetite. Our team is experienced in serving up large quantities of mouthwatering food to meet the needs of your crew. We are also well-versed in the safety requirements associated with catering on the rig, and adhere to the highest level of standards.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>