<% provide(:title, 'Airport Concessions | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering stocks all airport locations with high-quality concessions, from quick meals to filling snacks. We pair exceptional food & customer service.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-private-inflight-catering"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Private Inflight Catering</h1>
        <p>GCG Catering has long been a top provider of catering services to private and corporate aviation, and our level of service to our clients is unrivaled. If you ask our talented team, there’s no reason why being upwards of 36,000 feet above ground should impact one’s culinary experience. Providing an exceptional experience requires extensive preparation, which begins well before the food our team prepares hits the tarmac.<br/><br/>Our extensive experience gives our company an edge when crafting your aircraft’s menu, and only the best ingredients are used to bring it to life. With our cuisine on board, your passengers are sure to have a pleasurable experience in the air. Whether you're entertaining your best clients or transporting your employees in style, you can count on our culinary experts to deliver delectable food that will allow you to make a great impression.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>