<% provide(:title, 'Airport Restaurants | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering airport restaurants offer a selection of delicious menu items, with hospitable servers. Inspired cultural favorites with the best ingredients.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-restaurants"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Restaurants</h1>
        <p>Whether dining at one of our landside locations or in one of our airport terminal restaurants, you’re sure to find a wide selection of delicious menu items. Our hospitable servers are dedicated to making every dining experience feel like that of a five-star restaurant, even when you’re in the middle of a lengthy layover.<br/><br/>The menus at our restaurants are inspired by cultural favorites and incorporate the finest ingredients. We regularly update our offerings to ensure guests are satisfied with out selection. All of the chefs we employ are culinary experts, and it shows in the food they serve. Whichever of our locations one dines at, delectable food is guaranteed.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>