<% provide(:title, 'Retail Team Event Catering | GCG Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Catering is a trusted partner for top suppliers, giving our clients access to a multitude of menu items. Save time & money with everything in one place.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-retail"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb60 title-first">Retail Solutions</h1>
        <p>Building a menu to suit the needs of a large group can require a great deal of work, particularly if that group desires products from various retailers. GCG Catering functions as a trusted partner for top food suppliers, providing a full onboard retail solution complete with hardware and software offering access to a multitude of menu items.<br/><br/>GCG Catering has set the bar for turnaround times and customer service. Our team works with you to efficiently build a menu your customers or employees will love, complete with everything from snacks to delicious meals. You can choose from a wide range of menu items to create a unique culinary experience that pleases a wide range of palates.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services  -->
<%= render 'other_industries' %>

<!-- Location  -->
<%= render 'industries_where_we_are' %>

<!-- Contact Us  -->
<%= render 'layouts/second_contact_form' %>