<h1>You have received a new contact for GCG-Catering <%= @location.name if @location.present? %></h1>

<h3>Contact Details</h3>

<p>Full name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone_number if @contact.phone_number.present? %></p>
<p>Message: <%= @contact.message %></p>
