/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

 

@import "bootstrap";
@import "font-awesome";
@import "variables";

body {
	font-family: 'Roboto', sans-serif;
}

img[src="#"] {
   display: none;
}

h3, h4, h5 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #f7966b;
  margin-top: 0;
}
h4, h5 {
  font-size: 34px;
  color: #a6bc9a;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
  color: #666;
}
p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #9c9c9c;
  margin: 0px;
}
address {
    color: #888;
    line-height: 28px;
}
section {
    padding: 100px 0;
}

.alert {
  margin-bottom: 0px;
}

/* ------------------------- Top Navigation --------------------------- */
.navigation {
   position: relative;
   background-color: #fff;
   padding: 0;
   width: 100%;
}
a.navbar-brand{
    width: 150px;
    height: auto;
    padding: 15px 0;
    margin: 0 !important;
}
.navbar-nav {
    margin: 40px 15px 0;
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.navbar-nav > li > a {
  border-bottom: none;
    color: #747474;
    font-size: 20px;
    font-weight: unset;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 0 0 5px 0;
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    margin: 5px 30px;
    &:hover {
	   color: #f68655;
	   background: transparent;
	}
}

.navbar-toggle {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.minimo .navbar-toggle {
  margin-top: 20px;
}

.navbar-custom {
  font-size:12px;
  border-radius:0;
  margin-bottom:0;
      position: relative;
}

.navbar-custom .navbar-nav > li > a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-toggle .icon-bar {
    background: #333;
}
.navbar-toggle { 
    margin-top: 28px;
}
.barra .nav>li {
    text-align: center;
}
.dropdown-menu.industries {
    left: -26px !important;
    min-width: 200px;
    background-color: white;
}
.dropdown-menu {
    left: -10px !important;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
    font-weight: 300;
    color: #747474;
    &:hover, &:focus {
        text-decoration: none;
        color: #f68655;
        background-color: #f5f5f5;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: none
}

@media only screen and (max-width: 767px) {
  a.navbar-brand {
      margin: 0 15px !important;
  }
  .navbar-toggle {
	    margin-top: 35px;
	    margin-right: 30px;
	}
	.navbar-nav {
	    margin: 5px 15px 0;
	}
  .navbar-nav > li > a {
      font-size: 18px;
      margin: 5px 15px;
      padding: 10px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: #eee;
  }
  ul.dropdown-menu.industries, ul.dropdown-menu.whereweare {
      display: none !important;
  }
  .open ul.dropdown-menu.industries, .open ul.dropdown-menu.whereweare {
      display: block !important;
  }

}


/* ------------------------ HERO --------------------------- */
.hero-home, 
.hero-join,
.hero-privacy,
.hero-about,
.hero-location,  
.hero-industrial, 
.hero-concessions, 
.hero-restaurants, 
.hero-retail,
.hero-oil, 
.hero-private-inflight-catering, 
.hero-commercial-airline-catering, 
.hero-inflight {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-home02.jpg");
  background-size: cover;
  min-height: 700px;
  background-position: 50% 50%;
  position: relative;
}
.hero-join {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-join.jpg");
}
.hero-privacy {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-privacy.jpg");
}
.hero-about {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/general/hero-about.jpg");
}
.hero-location {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-locations.jpg");
}
.hero-inflight {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-inflight-catering.jpg");
}
.hero-industrial {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-industrial.jpg");
}
.hero-concessions {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-concessions.jpg");
}
.hero-restaurants {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-restaurants.jpg");
}
.hero-retail {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-retail-catering.jpg");
}
.hero-oil {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-oil-gas.jpg");
}
.hero-oil {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-oil-gas.jpg");
}
.hero-commercial-airline-catering {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-commercial-airline-catering.jpg");
}
.hero-private-inflight-catering {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-private-inflight-catering.jpg");
}

.hero-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 100px;
    width: 100%;
}
.hero-text h2 {
    color: #fff;
}
.hero-text .btn {
    padding: 15px 30px;
}
.slide {
    padding:0;
}

@media only screen and (max-width: 991px) {
  .hero-home, 
  .hero-join,
  .hero-privacy,
  .hero-about,
  .hero-location,  
  .hero-industrial, 
  .hero-concessions, 
  .hero-restaurants, 
  .hero-retail,
  .hero-oil,
  .hero-commercial-airline-catering,
  .hero-private-inflight-catering, 
  .hero-inflight {
      min-height: 500px;
  }
  .hero-text { top: 220px; }
  .hero-text h2.medium { font-size: 45px; }
  .hero-text h2.big { font-size: 80px; }
}

@media only screen and (max-width: 767px) {
  .hero-home, 
  .hero-join,
  .hero-privacy,
  .hero-about,
  .hero-location,  
  .hero-industrial, 
  .hero-concessions, 
  .hero-restaurants, 
  .hero-retail,
  .hero-oil, 
  .hero-commercial-airline-catering,
  .hero-private-inflight-catering, 
  .hero-inflight {
      min-height: 350px;
  }
  .hero-text { top: 130px; }
  .hero-text h2.medium { font-size: 35px; }
  .hero-text h2.big { font-size: 55px; }
}

/* ------------------------ SECTION INDUSTRIES --------------------------- */
.box-services {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
  -moz-box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
  box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}
.box-services .wrap-img {
  overflow: hidden;
}
.box-services .wrap-img img {
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.box-services:hover .wrap-img  img{
  transform: scale(1.1) rotate(1deg);
  -webkit-transform: scale(1.1) rotate(1deg);
  -moz-transform: scale(1.1) rotate(1deg);
  -ms-transform: scale(1.1) rotate(1deg);
  -webkit-filter: brightness(90%); 
}
.box-services .icon {
  overflow: hidden;
  border-radius: 50%;
  background-color: #5aa4ae;
}
.box-services .icon.dark { 
  background-color: #45606a;
}
.box-services .icon img {
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.box-services:hover .icon img {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.box-services .text {
  padding: 30px;
  text-align: center;
  position: relative;
}
.box-services .text h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.box-services .text p {
}
.box-services .text h4,
.box-services .text h4 a,
.box-services .text .btn,
.box-services .text .icon { color: #5aa4ae; }
.box-services .text.green h4,
.box-services .text.green h4 a,
.box-services .text.green .btn,
.box-services .text.green .icon  { color: #45606a; }

.box-services .text h4 a:hover,
.box-services .text.green h4 a:hover { opacity: .7; text-decoration: none; }

.box-services .text .btn {
  border-radius: 26px;
  font-weight: 300;
  padding: 10px 20px;
  font-size: 16px;
  margin: 15px 0 0;
  transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
}
.box-services .text .btn { border: 2px solid #5aa4ae; }
.box-services .text.green .btn  { border: 2px solid #45606a; }
.box-services .text .btn:hover { background-color: #5aa4ae; color: #fff; }
.box-services .text.green .btn:hover  { background-color: #45606a; color: #fff; }


.box-services .text .icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 92px;
    font-size: 50px;
    margin: -80px auto 0;
    background-color: #fff;
    padding: 15px;
}
.box-services .text .icon { background-color: #5aa4ae; }
.box-services .text.green .icon  { background-color: #45606a; }


.owl-theme .owl-nav {
    margin-top: 30px;
}
.owl-theme .owl-nav [class*="owl-"] {
    padding: 10px 30px;
    border-radius: 25px;
    color: #5aa4ae;
    border: 2px solid #5aa4ae;
    background: #fff;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #5aa4ae;
    color: #fff;
}
.owl-dots  { display: none; }

.fourth { margin-left: 16.66666665%;}

@media only screen and (max-width: 991px) {
  .fourth { margin-left: 0%;}
  .fifth { margin-left: 25%;}
}
@media only screen and (max-width: 767px) {
  .colMobile { width: 80%; margin: 0 auto}
  
}

@media only screen and (max-width: 520px) {
  .colMobile { width: 100%;}
  .box-services {  margin: 60px auto 0; }
}



/* ------------------------ SECTION GALLERY --------------------------- */
.item-img {
  padding: 10px;
  overflow: hidden;
}
.content-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
}
@media only screen and (max-width: 767px) {
  .content-img {
    min-height: 450px;
  }
}



/* ------------------------ SECTION LOCATIONS --------------------------- */
section.location {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.bgGreen {
  padding: 70px 5% 90px;
  background-color: #92b0a7;
  color: #fff;
}
.bgGreen h1, .bgGreen p {
  margin:0;
  padding:0;
}
.bgGreen p {
  color: #fff;
  margin: 20px 0;
}
.bgGreen ul {
    padding: 20px;
    margin:0;
}
.bgGreen ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}
.maps {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  overflow: hidden;
}
.maps .map-content {
  height: 450px;
}

@media only screen and (max-width: 991px) {
  .bgGreen { padding: 70px 10% 45px; }
  .bgGreen ul { display: inline-block; }
  .bgGreen ul li { float: left; margin: 0 60px 10px 0; }
  .maps { height: 450px; }
}

#location_image {
  width: 500px;
  height: 250px;
}

/* Inline Editing */
.best_in_place {
  cursor: pointer;
  text-decoration: underline;
}



/* ------------------------ SECTION LATEST NEWS --------------------------- */
/*.news {
  background-color: #fff;
}
.news h5 a {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 10px 0 5px;
    width: 100%;
}

.news a {
  color: #747474;
  font-weight: 300;
  font-size: 18px;
  float: right;
  transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	&:hover {
	  color: #92b0a7;
	  text-decoration: none;
	}
}

img.imgbig {
    width: 100%;
}
.btnBlog {
    background-color: #cadfe1;
    border-color: #cadfe1;
    color: #fff;
    font-size: 12px;
    padding: 6px 20px;
    margin-right: 5px;
    text-transform: uppercase;
    &:hover {
        background-color: #9bbdc0;
        border-color: #9bbdc0;
    }
}
.btnNewBlog {
    float: right;
    margin: -60px 20px 0 0;
    padding: 6px 20px;
}

.btnBlog a, .btnNewBlog a {
    color: #fff;
}

form.join .btnBlog {
    width: 100%;
}

.separator {
    background-color: #ccc;
    height: 1px;
    width: 100%;
    margin: 45px 0;
    display: inline-block;
}

img[usemap], map area{
    outline: none;
}

.box-news .img-blog {
	overflow: hidden;
}
.box-news .img-blog img {
	transition: transform 0.3s ease-out 0s;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out 0s;
	-ms-transition: -ms-transform 0.3s ease-out 0s;
	-o-transition: -o-transform 0.3s ease-out 0s;
}
.box-news:hover .img-blog  img{
	transform: scale(1.1) rotate(1deg);
	-webkit-transform: scale(1.1) rotate(1deg);
	-moz-transform: scale(1.1) rotate(1deg);
	-ms-transform: scale(1.1) rotate(1deg);
	-webkit-filter: brightness(90%); 
}

.img-blog {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    min-height: 250px;
}*/




/* NEWS FROM GCG-GROUND with Variables */

.news {
  background-color: #fff;
}
.news h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0;
}

.news a {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  &:hover {
    color: #555;
    text-decoration: none;
  }
}

.img-blog {
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  min-height: 250px;
}
@media only screen and (max-width: 991px) {
  .img-blog { min-height: 180px;}
}
@media only screen and (max-width: 767px) {
  .img-blog { min-height: 400px;}
}

.news a.btn {
    border-radius: 26px;
    font-weight: 300;
    padding: 10px 20px;
    font-size: 16px;
    margin: 15px 0 0;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    border: 2px solid $primary;
    &:hover {
      color: #fff !important;
      background-color: $primary;
    }
}


img.imgbig {
    width: 100%;
}
.btnBlog {
    background-color: #cadfe1;
    border-color: #cadfe1;
    color: #fff;
    font-size: 12px;
    padding: 6px 20px;
    margin-right: 5px;
    text-transform: uppercase;
    &:hover {
        background-color: #9bbdc0;
        border-color: #9bbdc0;
    }
}
.btnNewBlog {
    float: right;
    margin: -60px 20px 0 0;
    padding: 6px 20px;
}

.btnBlog a, .btnNewBlog a {
    color: #fff;
}

form.join .btnBlog {
    width: 100%;
}

.separator {
    background-color: #ccc;
    height: 1px;
    width: 100%;
    margin: 45px 0;
    display: inline-block;
}

img[usemap], map area{
    outline: none;
}


/* ------------------------ PARTNERS --------------------------- */

.partners .owl-nav, .partners .owl-dots {
  display: none;
}
.owl-item .item {
    text-align: center;
}

/* ------------------------ LOCATIONS --------------------------- */

.imgTeam {
  width: 80%;
  padding: 5px;
  border: 3px solid #92b0a7;
}

.map {
  height: 400px;
  display: block;
}

.message .form-group {
    margin-bottom: 30px;
}
.message .form-control {
    border: 2px solid #5aa4ae;
    color: #666;
    font-size: 16px;
    height: 50px;
    padding: 10px 15px;
}
.message textarea.form-control {
    height: 80px !important;
    resize: none;
}

.message .btn-xl {
    border-color: #cadfe1;
    color: #fff;
    font-size: 20px;
    height: 80px;
    text-transform: uppercase;
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.form-control:focus {
    box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .text-left.center-mobile, .text-right.center-mobile { text-align: center;}
  .text-right.center-mobile { margin: 60px 0 0;}
  .mobile50 { width: 50%;float: left;}
}
@media only screen and (max-width: 520px) {
  .mobile50 { width: 80%;float: inherit; margin: 0 auto 30px;}
}






/* ------------------------ FOOTER --------------------------- */
footer {
  padding: 75px 0;
  background-color: #45606a;
  color: #fff;
}
footer ul {
    padding: 0px;
    margin:0;
    list-style-type: none;
}
footer ul li {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
    &:hover {
	    color: #fff;
	    text-decoration: underline;
	}
}

footer i.fa {
    font-size: 40px;
    color: #fff;
    margin: 15px 15px 0 0;
}
footer p {
    color: #fff;
}

@media only screen and (max-width: 599px) {
  .col-xs-6.footerMobile { width: 100%; }
  footer ul { text-align: center; }
  .icon-social { width: 210px; margin: 0 auto 30px; }
  footer p { text-align: center; }
}

.inflight_catering_2 {
  font-size: 30px;
  &:hover{
    color: #5aa4ae !important;
    opacity: 0.8;
  };
}


.privacy_policy ol > li {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #9c9c9c;
  margin: 0px;
}