<%= form_for(@location, :url => (@location.new_record? ? locations_url : location_path(@location.title_for_slug))) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.fields_for :image do |t| %>
      <%= t.label :pic, "Background Image (for best results upload 1500x750 image)" %> <br>

      <% if @location.image.present? %>
        <%= image_tag @location.image.pic.url(:big), id: 'location_image', class: 'mb15' %><br/>
      <% else %>
        <img id="location_image" class="mb5" src="#" alt="">
      <% end %>
      <% if current_page?('/locations/new') %>
        <%= t.file_field :pic, class: "form-control", style: "padding: 4px;", required: true %>  
        <%#= t.file_field :pic, class: "form-control", style: "padding: 4px;" %>  
      <% else %>
        <%= t.file_field :pic, class: "form-control", style: "padding: 4px;" %>
      <% end %>

    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :description %>
    <%#= f.cktext_area :description, rows: 6, class: "form-control" %>
    <%= f.cktext_area :description, class: "form-control ckeditor", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fax %>
    <%= f.text_field :fax, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :airport_code %>
    <%= f.text_field :airport_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :general_contact_email %>
    <%= f.text_field :general_contact_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :specific_location %>
    <%= f.text_field :specific_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :meta_description %>
    <%= f.text_field :meta_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title_for_maps %>
    <%= f.text_field :title_for_maps, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :iframe %>
    <%= f.text_area :iframe, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "form-control btn btn-primary" %>
  </div>
<% end %>