<!-- Footer  -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 footerMobile">
        <ul>
          <li><a class="white" href="/join-our-team">Join Our Team</a></li>
          <li><a class="white" href="/privacy-policy">Privacy Policy</a></li>
          <li><a class="white" href="http://gcggroundservices.com/main.php?s=4" target="_blank">Management</a></li>
          <li><a class="white" href="/news">News</a></li>
          <li><a class="white" href="https://www.dropbox.com/sh/bbpr95099o7owax/AABIeHAzn7bWk5OImT6gi4Xaa?dl=0" target="blank">NetJets</a></li>
        </ul>
      </div>
      <div class="col-xs-6 footerMobile text-right">
        <p><b>GCG Catering a part of GCG Group</b><br>
        2525 Embassy Drive Suite #13<br>
        Cooper City, FL 33026 USA<br>
        Phone: (954) 438-9855<br>
        Fax: (954) 438-9560<br></p>
      </div>
    </div>
  </div>
</footer>