<!-- Top Navigation  -->
<section class="navigation"> 
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top navbar-custom barra">
      <div class="container">
        <div class="row">
        <div data-scroll-header class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img alt="GCG Catering" src="https://s3-us-west-2.amazonaws.com/gcg-catering/general/gcg-catering.jpg" class="img-responsive center-block"/></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
            
            <ul class="nav navbar-nav navbar-right"> 
                <li><a class="secondary" href="/about">About</a></li>              
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle secondary" href="#">Industries</a>
                  <ul class="dropdown-menu industries">  
                      <li><a class="secondary" href="/inflight-catering">Inflight Catering</a></li>             
                      <li><a class="secondary" href="/industrial-catering">Industrial Catering</a></li>
                      <li><a class="secondary" href="/concessions">Concessions</a></li>
                      <li><a class="secondary" href="/restaurants">Restaurants</a></li>
                      <li><a class="secondary" href="/retail">Retail Solutions</a></li>
                      <li><a class="secondary" href="/oil-gas-mining">Oil, Gas and Mining</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle secondary" href="#">Locations</a>
                  <ul class="dropdown-menu whereweare">
                  <% if current_user.try(:admin?) %>
                  <li><a class="secondary" href="/locations/new">Add new location</a></li>
                  <% end %>
                  <% @locations.each do |location| %> 
                    <li><a class="secondary" href="/locations/<%= location.title_for_slug %>"><%= location.name %></a></li>   
                    <% end %>            
                  </ul>
                </li>
                <li><a class="secondary" href="/join-our-team">Careers</a></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                <% end %>
            </ul>
        </div>
        </div>
      </div>
    </nav>
  </div>
</div> 
</section>