<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)}" if yield(:title).present? %></title>

    <%= favicon_link_tag "https://s3-us-west-2.amazonaws.com/gcg-catering/general/gcgcatering-favicon-16x16.png", rel: "icon", type: "image/png"%>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAwBNEUgbfrG04_VE1wPUxbUyPezuuZJkA" %>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= yield(:head) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101616368-3', 'auto');
      </script>
    <% end %>

    <meta name="google-site-verification" content="UjNimjocdUPOZPC9tmUyQQncgoB6kqt099ODtc5KqFw" />
  </head>

  <body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>'>
    
    <%= render 'layouts/nav' %>


    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <div class="alert alert-success"><%= value %><button class="close" data-dismiss="alert">×</button></div>
      <% elsif key == "alert" %>
        <div class="alert alert-danger"><%= value %><button class="close" data-dismiss="alert">×</button></div>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %><button class="close" data-dismiss="alert">×</button></div>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
